* {
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	background-color: #e5eaed;
}

.wrapper {
	padding: 20px 0px 0px 0px;
}

a, a:hover, a:focus {
	text-decoration: none;
	color: black;
}

a:hover {
	color: white;
}

.box {
	height: 600px;
	width: 400px;
	background-color: #f5f5fa;
	box-shadow: 0px 0px 5px #cdd1d3;
	text-align: center;
	border-radius: 15px;
	margin: auto;
}

.img_section {
	padding-top: 50px;
	padding-bottom: 50px;
}

.temp_text {
	font-size: 80px;
	padding-bottom: 90px;
	color: #3d596a;
	padding-top: 10px;
}

.herounit {
	font-weight: 900;
	font-size: 30px;
	color: #3d596a;
}

.dateTime {
	font-size: 15px;
	font-weight: 600;
	padding-top: 5px;
	color: #c0c8d0;
}

img {
	width: 200px;
	height: auto;
}

.hide {
	display: none;
}

.copyright {
	font-size: 13px;
	text-align: right;
	padding-top: 11px;
	color: gray;
}