@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700');

body {
	background-color: #333;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
}

.hide {
	display: none;
}

.innerBox {
	width: 719.999px;
	height: 1241.768px;
	margin: auto;
	text-align: center;
	font-family: 'Roboto Slab', serif;
}

.box {
}

.header {
	text-align: center;
	height: 234.375px;
	background-color: #E3E4B8;
}

.heading {
	font-size: 40px;
	font-weight: 900;
	padding-top: 25.497px;
}

.buttonGroup {
	margin-top: 35px;
}

.buttonGroup div {
	width: 120px;
	height: 40px;
	line-height: 40px;
	background-color: #EF6573;
	display: inline-grid;
	cursor: pointer;
}

#on {
	margin: 0px 30px;
}

.channel {
	font-size: 40px;
}

.channels1 {
	height: 169.232px;
	background-color: #F8B195;
	padding-top: 55px;
}

.channels2 {
	height: 169.232px;
	background-color: #ED7483;
	padding-top: 55px;
}

.channels3 {
	height: 169.232px;
	background-color: #C06C84;
	padding-top: 55px;
}

.channels4 {
	height: 169.232px;
	background-color: #6B5C7D;
	padding-top: 55px;
}

.channels5 {
	height: 169.232px;
	background-color: #355E7E;
	padding-top: 55px;
}

.channels6 {
	height: 169.232px;
	background-color: #2A4862;
	padding-top: 55px;
}
