@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
	padding: 0;
	margin: 0;
	border: 0;
}

a, a:hover, a:focus, a:active {
	color: black;
	text-decoration: none;
}

.header {
	text-align: center;
	border-top: 60px solid #38b5c1;
}

.header h1 {
    margin-bottom: 0.2em;
    font-size: 4.5em;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    color: #1c4454;
    margin-top: 48.2333px

}

.header h3 {
    margin-top: 0.3em;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 1.8em;
    color: #0cdbed;
    margin-bottom: 28.8px;
}

.random-wiki {
    font-weight: 300 !important;
    font-size: 1.3em !important;
    color: #444 !important;
}

.random-wiki a {
    color: #38b5c1;
}

main {
    min-height: 100px;
    padding-bottom: 1em;
    position: relative;
}

.search-container {
    max-width: 520px;
    margin: 2em auto 0;
    position: relative;
}

.fa.fa-search {
    position: absolute;
    top: 13px;
    right: 140px;
    color: rgba(56, 181, 193, 0.3);
}

main .search-text {
    max-width: 180px;
    padding: 0 7px;
    background-color: #fff;
    color: #38b5c1;
    font-size: 0.8em;
    position: absolute;
    top: -0.4em;
    left: 30px;
}

main .text {
    padding: 0.6em 0.5em 0.45em;
    font-size: 1em;
    color: #444;
}

main input {
    width: 390px;
    padding: 0.8em 0.5em 0.5em;
    border: 2px solid #38b5c1;
}

.search-btn {
    max-width: 100px;
    margin-left: 5px;
}

.btn {
    margin: 0 auto;
    padding: 0.35em;
    background-color: #38b5c1;
    color: #fff;
    font-size: 1.2em;
    border: 0;
    cursor: pointer;
}

.content {
    display: flex;
    justify-content: center;
    max-width: 920px;
    margin: 0em auto 1em;
    flex-wrap: wrap;
}

.content div {
	width: 100%;
	height: 200px;
	border: 2px solid #38b5c1;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	animation: fadeIn 0.5s linear forwards;
}

.content section {
	margin: 1em;
	width: 420px;
	height: 200px;
	position: relative;
}

.content h2 {
	background-color: #38b5c1;
	margin: 0;
	padding: 10px;
	color: #fff;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	font-size: 1.5em;
}

.content p {
	margin: 1em;
	font-size: 1.1em;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	line-height: 1.3em;
}

footer {
   left:0px;
   bottom:0px;
   height:60px;
   width:100%;
   background:#38B5C1;
   padding-top: 29px;
   text-align: center;
   font-family: 'Roboto Condensed', sans-serif;
   margin-top: 8.1%;
}

footer a {
	color: white;
}