* {
	padding: 0;
	margin: 0;
	border: 0;
	text-decoration: none;
	
}
a {
	color: black;
}
.box {
	border-radius: 3px;
	position: relative;
	margin: 8% auto auto auto;
	width: 450px;
	padding: 40px 50px;
	display: table;
	background-color: #fff;
}
.text {
	text-align: center;
	opacity: 1;
	width: 450px;
	height: auto;
	clear: both;
	font-weight: 500;
	font-size: 1.75em;
}
.box .text i {
	font-size: 1.0em;
	margin-right: 0.4em;
}
.qAuthor {
	width: 450px;
	height: auto;
	clear: both;
	padding-top: 20px;
	font-size: 1em;
	text-align: right;
}
.box .buttons {
	width: 450px;
	margin: auto;
	display: block;
}
.box .buttons #tweet-quote.button, .box .buttons #tumblr-quote.button {
	float: left;
	padding: 0px;
	padding-top: 8px;
	text-align: center;
	font-size: 1.2em;
	margin-right: 5px;
	height: 30px;
	width: 40px;
}
.box .buttons .button {
	height: 38px;
	border: none;
	border-radius: 3px;
	color: #fff;
	background-color: #333;
	outline: none;
	font-size: 0.85em;
	padding: 8px 18px 6px 18px;
	margin-top: 30px;
	opacity: 1;
	cursor: pointer;
}
#new_quote {
	margin-left: 255px;		
}
@font-face {
    font-family: apple;
    src: url(../font/Montserrat-ExtraLight.ttf);
}
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 15px;
  font-family: apple;
  text-align: right;
  padding-right: 10px;
  padding-bottom: 10px;
  
}
.fork {
	text-align: right;
	padding-top: 20px;
	font-family: apple;
	font-size: 15px;
	text-decoration: none;
	
}
.inner-footer a {
	color: lightgray;
	font-weight: 900;

}